h1 {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    border: 5px;
    border-style: groove;
    border-color: blueviolet;
    background-color: lightblue;
}
h2 {
    font-family: cursive;
    font-size: 35px;
}
th {
    text-align: left;
    font-size: 30px;
    font-family:  fantasy;
}
#red {
    background-color: lightcoral;
}
tbody {
    font-size: 20px;
    font-family: fantasy;
    padding: 5rem;
}
#taskName {
    font-size: 20px;
    font-family: fantasy;
    color: black;
    text-align: center;
    margin-inline-start: 40%;
    background-color: lightblue;
    border: 5px;
    border-style: groove;
    border-color: blueviolet;
}
#addTask {
    font-size: 25px;
    font-family: fantasy;
    color: black;
    background-color: lightblue;
    border: 5px;
    border-style: groove;
    border-color: blueviolet;
}
.delete-task {
    font-size: 20px;
}
.complete-task {
    font-size: 20px;
}
table tr td.complete-column {
    text-align: center;
}