h1 {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    border: 5px;
    border-style: groove;
    border-color: blueviolet;
    background-color: lightblue;
}
h2 {
    font-family: cursive;
    font-size: 30px;
}
th {
    text-align: left;
    font-size: 25px;
}
tbody {
    background-color: lightgray;
}
