h1 {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    border: 5px;
    border-style: groove;
    border-color: blueviolet;
    background-color: lightblue;
}
h2 {
    font-family: cursive;
    font-size: 35px;
}
th {
    text-align: left;
    font-size: 30px;
    font-family:  fantasy;
}
.red {
    background-color: lightcoral;
}
tbody {
    font-size: 20px;
    font-family: fantasy;
}
#taskName {
    font-size: 20px;
    font-family: fantasy;
}
#addTask {
    font-size: 20px;
}
.delete-task {
    font-size: 20px;
}
.complete-task {
    font-size: 20px;
}